<div id="wrapper">
	<div class="row">
		<div class="signupBox col-md-8 col-md-offset-4">

			<h2 class="text-center">Sign Up</h2>
			<form action="/auth/register" method="post">
				<label for="username">Username</label>
				<input id="username" name="username" class="form-control" type="text"/>

				<br/>

				<label for="password">Password</label>
				<input id="password" name="password" class="form-control" type="password"/>

				<br/>

				<label for="confirmPassword">Password again</label>
				<input id="confirmPassword" name="confirmPassword" class="form-control" type="password"/>

				<br/>

				<button type="submit" class="btn btn-success">Sign Up</button>
				<a class="btn btn-primary pull-right" href="/auth/login">Login</a>
			</form>

			<br/><br/>
            <% if (messages.length > 0) { %>
			<div class="alert alert-danger"><%= messages %></div>
            <% } %>

		</div>
	</div>
</div>
