<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1>Register</h1>
		<form action="/auth/register" method="post">
			Username: <input type="text" name="username"><br>
			Password: <input type="password" name="password"><br>
			Confirm Password: <input type="password" name="confirmPassword"><br>
			<button type="submit" value="register">Register</button>
		</form>
	</body>
</html>
