<div class="form-group">
	<label for="inputEntityDefaultName">Entity Default Name</label>
	<input type="text" class="form-control" id="inputEntityDefaultName"
			aria-describedby="entityDefaultNameHelp" placeholder="Enter Entity Default Name"
			value="<%= (data) ? data.entityDefaultName : ""  %>">
	<small id="entityDefaultNameHelp" class="form-text text-muted">Entity Default Name</small>
</div>
<div class="form-group">
	<label for="inputEntityPictureId">Entity Picture ID</label>
	<input type="text" class="form-control" id="inputEntityPictureId"
			aria-describedby="entityPictureIdHelp" placeholder="Entity Picture ID"
			value="<%= (data) ? data.entityPictureId : ""  %>">
	<small id="entityPictureIdHelp" class="form-text text-muted">Entity Picture ID</small>
</div>
