<div class="form-group">
	<label for="inputEntityStateTypeName">Entity State Type Name</label>
	<input type="text" class="form-control" id="inputEntityStateTypeName" name = "inputEntityStateTypeName"
			aria-describedby="entityStateTypeNameHelp" placeholder="Enter Entity State Type Name"
			value="<%= (data) ? data.Name : ""  %>">
	<small id="entityStateTypeNameHelp" class="form-text text-muted">Entity State Type Name</small>
</div>
<div class="form-group">
	<label for="inputMaxValue">Maximum Value</label>
	<input type="text" class="form-control" id="inputMaxValue" name="maxValue"
			aria-describedby="maxValueHelp" placeholder="Maximum Value"
			value="<%= (data) ? data.MaxValue : ""  %>">
	<small id="maxValueHelp" class="form-text text-muted">Maximum Value</small>
</div>
<div class="form-group">
	<label for="inputMinValue">Minimum Value</label>
	<input type="text" class="form-control" id="inputMinValue" name="minValue"
			aria-describedby="minValueHelp" placeholder="Minimum Value"
			value="<%= (data) ? data.MinValue : ""  %>">
	<small id="minValueHelp" class="form-text text-muted">Minimum Value</small>
</div>
<div class="form-group">
	<label for="inputInitialValue">Initial Value</label>
	<input type="text" class="form-control" id="inputInitialValue" name="initialValue"
			aria-describedby="initialValueHelp" placeholder="Initial Value"
			value="<%= (data) ? data.InitialValue : ""  %>">
	<small id="initialValueHelp" class="form-text text-muted">Initial Value</small>
</div>
