<div class="form-group">
	<label for="inputName">Item Slot Name</label>
	<input type="text" class="form-control" id="inputName" name="name"
			aria-describedby="nameHelp" placeholder="Enter Item Slot Name"
			value="<%= (data) ? data.Name : ""  %>">
	<small id="nameHelp" class="form-text text-muted">Item Slot Name</small>
</div>
