<div class="form-group">
	<label for="inputUsername">Username</label>
	<input type="text" class="form-control" id="inputUsername" name="username" aria-describedby="usernameHelp" placeholder="Enter Username" value="<%= (data) ? data.UserName : ""  %>">
	<small id="usernameHelp" class="form-text text-muted">The user's name</small>
</div>
<div class="form-group">
	<label for="inputPassword">Password</label>
	<input type="password" class="form-control" id="inputPassword" name="password" aria-describedby="passwordHelp" placeholder="Enter Password" value="">
	<small id="passwordHelp" class="form-text text-muted">The user's password. Leave blank to leave password unchanged.</small>
</div>
<div class="form-group">
	<label for="inputAccountType">Account Type</label>
	<select id="inputAccountType" class="custom-select" name="accountType" aria-describedby="accountTypeHelp">
		<option value="0" <%= (data) ? ((data.AccountType == 0) ? "selected" : "") : ""  %>>User</option>
		<option value="1" <%= (data) ? ((data.AccountType == 1) ? "selected" : "") : ""  %>>Admin</option>
	</select>
	<small id="accountTypeHelp" class="form-text text-muted">The user's account type.</small>
</div>
