<div class="container">
	<div class="column">
		<% for(var i = 0; i < 4; i++) { %>
		<div class="row-sm-3">
			<p><%= entity.EntityStateValue[i].EntityStateType.Name %>: <%= entity.EntityStateValue.Value %></p>
		</div>
		<% } %>
	</div>
	<div class="container">
		<div class="column">
			<div class="row-sm-3">
				<img src="/img/monster/<%= entity.EntityType.PictureID %>.png" style="width:100%;height:100%"></img>
			</div>
			<div class="row-sm-3">
				<p><%= entity.Name %></p>
			</div>
		</div>
	</div>
</div>
