<div class="container">
	<div class="row">
		<% for(var v in entity.EntityStateValues) { %>
		<div class="col-sm-3">
			<p><%= entity.EntityStateValues[v].EntityStateType.Name %>: <%= entity.EntityStateValues[v].Value %></p>
		</div>
		<% } %>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<img src="/img/monster/<%= entity.EntityType.PictureID %>.png" style="width:100%;"></img>
			</div>
			<div class="col-sm-3">
				<p><%= entity.Name %></p>
			</div>
		</div>
	</div>
</div>
