<% for(var i=0; i < monsters.length; i++) {%>

    <div class="col-sm-3 noPadding">
        <div class="yellow box"><%= monsters[i].getMonster().getUserMonsterName() %> <img src="/img/monster/<%= monsters[i].getMonster().getMonsterPictureId() %>.png" style="float: right; height: 100%"/></div>
    </div>

<% } %>
