<h1>Index</h1>
<p>Placeholder</p>

<div class="container">
	<div class="row">
		<% for(var v in entityList) { %>
		<div class="col-sm-3">
			<a href="/entity/<%= entityList[v].id %>">
				<img src="/img/monster/<%= entityList[v].EntityType.PictureID %>.png" style="width:100%"></img>
			</a>
			<span>Name: <%= entityList[v].Name %> | Type: <%= entityList[v].EntityType.DefaultName %></span>
		</div>
		<% } %>
	</div>
</div>
