<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Welcome <%= user.UserName%>
                </a>
            </li>
            <li>
                <a href="/auth/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
    </button>
    <div class='row'>
        <div class='col-sm-4'>
            <div class='row'>
                <div class='col-sm-2'>
                    <div class='purple' style="height:10%"></div>
                </div>
                <div class='col-sm-10'>
                    <div class='purple' style="height:10%"></div>
                </div>
            </div>
            <div class='row'>
                <div class='purple' style="height:50%"></div>
            </div>
        </div>
        <div class='col-sm-8'>
            <div style="height:60%">
                <div id="gameGrid" class='row'>

                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='purple' style="height:30%">
            <div class="row">
                <h1 class="text-center">Inventory</h1>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
                <div class="col-sm-3">
                    <div class="yellow box"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {

        $("#gameGrid").load("/gameGrid");

        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
</script>
