<div style="height:30%">
    <div class="row">
        <h1 class="text-center">Inventory</h1>
    </div>
    <div class="row">
        <% for(let i =0; i < inventory.length; i++) { %>
        <div class="col-sm-3">
            <div class="box text-center">
                <%= inventory[i].name %> x <%= inventory[i].amount %>
                <br/>

                <img src="/img/items/<%= inventory[i].picture %>.png" alt="">

            </div>
        </div>
        <% } %>
    </div>
</div>
