<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<!-- Bootstrap core CSS -->
		<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="/css/dashboard.css" rel="stylesheet">
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<% if(locals.user) { %>
			<a class="navbar-brand" href="/">Welcome <%= user.UserName%></a>
			<button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarsDefault">
				<ul class="navbar-nav mr-auto">
					<% if(user.AccountType == 1) { %>
						<li class="nav-item">
							<a class="nav-link" href="/admin/">Admin Panel</a>
						</li>
					<% } %>
				</ul>
				<ul class="navbar-nav navbar-right">
					<li class="nav-item">
						<a class="nav-link" href="/auth/logout">Logout</a>
					</li>
				</ul>
			</div>
			<% } else { %>
			<a class="navbar-brand" href="/">MonsterGame</a>
			<% } %>
		</nav>
		<div class="container-fluid pt-3">
			<%- body %>
		</div>
		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/jquery/jquery.min.js"></script>
		<script src="/popper/popper.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>
