<div id="wrapper">
    <div class="row">
        <div class="loginBox col-md-8 col-md-offset-4">

            <h2 class="text-center">Login</h2>

            <label for="username">Username</label>
            <input id="username" name="username" class="form-control" type="text"/>

            <br/>

            <label for="password">Password</label>
            <input id="password" name="password" class="form-control" type="password"/>

            <br/>

            <a class="btn btn-success" href="/">Login</a>
            <a class="btn btn-primary pull-right" href="/signup">Sign Up</a>

        </div>
    </div>
</div>
