<div id="wrapper">
    <div class="row">
        <div class="signupBox col-md-8 col-md-offset-4">

            <h2 class="text-center">Sign Up</h2>

            <label for="username">Username</label>
            <input id="username" name="username" class="form-control" type="text"/>

            <br/>

            <label for="password">Password</label>
            <input id="password" name="password" class="form-control" type="password"/>

            <br/>

            <label for="password2">Password again</label>
            <input id="password2" name="password2" class="form-control" type="password"/>

            <br/>

            <button class="btn btn-success">Sign Up</button>
            <a class="btn btn-primary pull-right" href="/login">Login</a>
        </div>
    </div>
</div>
